$fSize1:  24px;
$color1: #000;
$color2: #053926;

input{
  background: none;
  border: none;
  outline: none;
}
.btns_wp{
  text-align: center;
  .btn{
    margin: 30px 20px;
  }
}
.btn_c{
  color: $color2;
}
.btn_b{
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ceea4f), to(#44a341));
}
.btn_b2{
  background:-webkit-gradient(linear, 0 0.5, right 0.5, from(#ceea4f), to(#44a341));
}
.btn_b3{
  background: #f8e510;
  color: #039357;
  text-align: center;
}

.btn_s1{
  text-align: center;
  width: 286px;
  line-height: 86px;
  height: 86px;
  display: inline-block;
  border-radius: 10px;
  margin:  0px 10px;
}

.btn_s2{
  text-align: center;
  width: 550px;
  line-height: 86px;
  height: 86px;
  display: inline-block;
  border-radius: 10px;
  margin:  0px 10px;
}
.btn_s3{
  border-radius: 20px;
  width: 134px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  font-size: 24px;
}
.btn_s4{
  border-radius: 20px;
  text-align: center;
  width: 110px;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
}
.btn_s5{
  text-align: center;
  width: 220px;
  line-height: 68px;
  height: 68px;
  display: inline-block;
  border-radius: 10px;
  margin:  0px 10px;
}


.btn_mrg{
  display: block;
  margin: 0 auto;
}
.mt30{
  margin-top: 30px;
}
.mt50{
  margin-top: 30px;
}
.mt20{
  margin-top: 20px;
}
.mt10{
  margin-top: 10px;
}

.mb70{
  margin-bottom: 70px;
}
.mb50{
  margin-bottom: 50px;
}
.mb30{
  margin-bottom: 30px;
}
.mb20{
  margin-bottom: 20px;
}
.mb10{
  margin-bottom: 10px;
}
.btns{
  text-align: center;
}